body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/075/736/original/767265929480.jpg?1680901153");
  background-size: 1500px;
  justify-content: space-between;
  background-repeat: no-repeat;
  margin: 8px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(255, 0, 128);
  display: block;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}

li:first-letter {
  text-transform: capitalize;
}
.container {
  margin-top: 90px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgb(255, 0, 128);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.96);
}

.weather-temp img {
  width: 100px;
  margin-right: 10px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temp strong {
  position: relative;
  top: -80px;
  margin-left: 90px;
  color: rgb(255, 0, 128);
  font-size: 64px;
  line-height: 1;
}
.btn {
  background-color: blueviolet;
}
.form-control {
  border-color: blueviolet;
}

.units {
  position: relative;
  top: -112px;
  font-size: 16px;
}
.units a {
  text-decoration: none;
}

.weather-temp .active {
  color: black;
  font-weight: bold;
  cursor: default;
}
.weather-temp .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(255, 0, 128);
}
.weather-forecast-temperature {
  font-size: 16px;
  color: rgb(46, 45, 45);
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.mj {
  text-decoration: none;
  color: rgb(255, 0, 128);
}
.mjhub {
  text-decoration: none;
  margin-left: 10px;
}
